*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 10px;
    font-family:"Raleway",sans-serif ;
    background-color:var(--Blue-950);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    position: relative;
}

:root{
    --Blue-200: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Blue-850: hsl(228, 56%, 26%);
    --Blue-950: hsl(229, 57%, 11%);
}

.bg-desktop{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 50vh;
    z-index: -1;
}
.bg-mobile{
    display: none;
}

main{
    width: 80%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    gap: 4rem;
}

.section-one{
    background-color: var(--Blue-850);
    width: 40%;
    padding: 5rem 12rem 5rem 5rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    border-top-left-radius:1rem;
    border-top-right-radius: 8rem;
}

.icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.document,.folder,.upload{
    background-color: var(--Blue-950);
    height: 5rem;
    width: 5rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

.document:hover,.folder:hover,.upload:hover{
    background-color: var(--Blue-200);
}

.document:hover path,.folder:hover path,.upload:hover path{
    fill: var(--Blue-950);
}


.section-two{
    background-color: var(--Blue-850);
    padding: 5rem;
    width: 60%;
    position: relative;
    border-radius: 1rem;
}

.GB-left{
    position: absolute;
    right: 4rem;
    top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.4rem;
    background-color: var(--Blue-200);
    width:fit-content;
    height: fit-content;
    padding: 1.4rem 2rem;
    border-bottom-left-radius:0.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.sub-text{
    color: var(--Grayish-Blue);
    font-weight: 700;
}

.triangle{
    width: 0;
    position: absolute;
    right: 4rem;
    top: 2rem;
    height: 0;
    display: block;
    border-right: 1rem solid var(--Blue-200);
    border-top: 1rem solid var(--Blue-200);
    border-left: 1rem solid transparent;
    border-bottom:1rem solid transparent;
}
  
p{
    color: var(--Grayish-Blue);
    margin-bottom: 2rem;
    font-size: 1.4em;
}

.bar{
    height: 1.8rem;
    padding: 0.2rem;
    width: 100%;
    background-color: var(--Blue-950);
    margin-bottom: 2rem;
    border-radius: 4rem;
    transition: 1s ease;
}

.insidebar{
    width: 75%;
    height: 1.4rem;
    border-radius: 4rem;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.bar:hover .insidebar{
    background-image: linear-gradient(to right,hsl(335, 100%, 65%),hsl(6, 100%, 80%));
}

.whiteball{
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--Blue-200);
    border-radius: 4rem;
}

span{
    color: var(--Blue-200);
    font-size:1em;
}

.limit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribution { font-size: 1.1em; text-align: center; color: var(--Grayish-Blue);}
.attribution a { color:var(--Blue-200); text-decoration: none;}


@media screen and (max-width:1070px){
    body{
        padding: 0 3rem;
    }

    main{
        width: 100%;
    }
}

@media screen and (max-width:814px){
    main{
        flex-direction: column;
    }

    .section-one,.section-two{
        width: 100%;
    }

    .GB-left{
        width:30vw;
        padding: 2rem;
        gap: 2rem;
        top: 16rem;
        margin: auto;
        right: 0rem;
        left:0rem;
        border-bottom-right-radius: 0.5rem;
    }

    .triangle{
        display: none;
    }
}

@media screen and (max-width:500px){
    .bg-mobile{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .bg-desktop{
        display: none;
    }

    .section-one{
        padding: 4rem 12rem 4rem 4rem;
    }

    .section-two{
        padding: 4rem;
    }

    .GB-left{
        top: 14rem;
        gap: 1rem;
        padding: 1rem;
    }
}